Repository gander-tools/n8n-backup: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format:check {staged_files}
  stage_fixed: true

lint:
  run: bun run lint {staged_files}

docs: add comprehensive testing guide with PocketBase setup
  tests/README.md
  tests/TESTING.md
Due: none

docs: add PocketBase setup guide to CLAUDE.md
  CLAUDE.md
Due: none

feat: separate unit and integration test scripts
  CLAUDE.md
  package.json
  tests/README.md
Due: format

fix: update CI workflow to use unit tests only
  .github/workflows/ci.yml
Due: none

Setup pocketbase (#3)
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  docker-compose.test.yml
  lefthook.yml
  package-lock.json
  package.json
  src/index.ts
  src/services/pocketbase-client.ts
  src/types/index.ts
  src/types/pocketbase.ts
  tests/README.md
  tests/TESTING.md
  tests/integration/pocketbase-client.test.ts
  tests/unit/pocketbase-client.test.ts
  tsconfig.tsbuildinfo
Due: format, lint

feat: add SessionStart hook to auto-install Bun if missing
  .claude/settings.json
Due: format

feat: add version command skeleton with TDD
  src/commands/version.ts
  src/index.ts
  tests/unit/commands/version.test.ts
  tsconfig.json
Due: format, lint

style: fix Biome formatting (tabs to spaces)
  src/commands/version.ts
  tests/unit/commands/version.test.ts
Due: format, lint

style: fix import order in version test
  tests/unit/commands/version.test.ts
Due: format, lint

feat: add version command skeleton with TDD (#5)
  src/commands/version.ts
  src/index.ts
  tests/unit/commands/version.test.ts
  tsconfig.json
Due: format, lint

feat: add PostToolUse hook for automatic code formatting
  .claude/settings.json
Due: format

feat: add PostToolUse hook for automatic code formatting (#6)
  .claude/settings.json
Due: format

test: add comprehensive integration tests for built application
  tests/TESTING.md
  tests/integration/cli.test.ts
  tests/integration/end-to-end.test.ts
  tests/integration/helpers.ts
  tests/integration/pocketbase-client-crud.test.ts
Due: format, lint

feat: configure CLI entry point for npx/bunx execution
  package.json
  src/cli.ts
  tests/unit/cli.test.ts
Due: format, lint

style: format integration tests with proper indentation
  tests/integration/cli.test.ts
  tests/integration/end-to-end.test.ts
  tests/integration/helpers.ts
  tests/integration/pocketbase-client-crud.test.ts
Due: format, lint

style: reformat CLI test to use 2-space indentation
  tests/unit/cli.test.ts
Due: format, lint

fix: resolve biome registry authentication issue
  bunfig.toml
Due: none

chore: remove tsconfig.tsbuildinfo from git tracking
  tsconfig.tsbuildinfo
Due: none

Merge pull request #8 from gander-tools/claude/configure-cli-entry-01JwRRCLmdnogEbN5ghGjv83
  package.json
  src/cli.ts
  tests/unit/cli.test.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,js,json}
  lint: any of: *.{ts,js}
